./BisectionMethod.exe
./CombinationMethod.exe
./Combinatorial_coefficient.exe
./FIxed_Point.exe
./Larangederivada.exe
./NewtonMethod.exe
./ProjectileMotion.exe
./SearchRoot.exe
./SecantMethod.exe
./SecantMethod2.exe
